@font-face {
	font-family: 'Dovemayo_gothic';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 네비게이션 바 css */
#nav3 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	display: flex;
	margin-bottom: 100px; 
}

#nav3>div>a {
	line-height: 80px;
	font-size: 30px;
	font-weight: 900;
	text-decoration: none;
	margin-right: 30px;
}

#nav3>select {
	padding: 0 20px;
	height: 30px;
	background-color: #1b2035;
	color: #fff;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-15px);
	border: 2px solid #fff;
	border-radius: 30px;
}

#nav3>div ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

#nav3>div ul li {
	display: inline-block; 
	line-height: 80px;
	margin-right: 30px; 
}

#nav3>div ul li:last-child {
	margin-right: 0; 
}

#nav3>div ul li>a {
	color: black;
	text-decoration: none;
	font-family: Dovemayo_gothic;
	font-size: 20px;
}

#nav3>div ul li>a:hover {
	color: #000080;
	text-decoration: underline;
}


#sfrm {
	display: flex;
	align-items: center;
}

#sfrm input {
	font-family: 'Dovemayo_gothic';
	padding: 12px 8px;
	border: 2px solid #000080;
	border-radius: 15px;
	margin-right: 5px;
	width: 150px;
	height: 40px;
}

#sfrm button {
	font-family: 'Dovemayo_gothic';
	background-color: transparent; /* 배경색 투명으로 설정 */
	color: transparent; 
	border: none; 
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px; 
	height: 50px; 
	border-radius: 5px; 
}

/* 검색 버튼과 아이콘 디자인 */
#sfrm button i {
	font-size: 20px; 
	color: black; 
}

#sfrm button:hover i {
	color: #000080;
}

/* 메뉴바와 리스트 사이 div*/
.extranav {
    text-align: center; 
    margin: 0 auto; /* 좌우 여백을 자동으로 조정하여 가운데 정렬 */
    font-family: Dovemayo_gothic;
	font-size: 20px;	
	margin-bottom: 30px;
	
}

/* 모달 기본 스타일 */
.modal {
    display: none; 
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex; 
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    font-family: Dovemayo_gothic;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 상하 15% 여백, 가운데 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    border-radius: 10px; 
}

/* 모달 헤더 스타일 */
.modal-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 10px; 
}

.headLine {
    font-size: 25px;
}

.btn.btn-info {
    margin-top: 25px;
    margin-bottom: 2px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: left;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.box	{
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 12px;
}



/* 상단 버튼 디자인 */
.btn-container  {
	font-family: 'Dovemayo_gothic';
    font-size: 17px;
    margin-right: 3px;
    margin-bottom: 20px;
    text-align: center;
	
}

/* 소설 리스트 */
.card-container	{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	font-family: 'Dovemayo_gothic';
}

/* 결제 리스트 */
.card-container2 {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	justify-content: center;
	text-align: center;
	font-family: 'Dovemayo_gothic';
	font-size: 25px; 
	
}

/* 메인 리스트 카드 */
.card {
	width: 13rem; /* 카드의 너비를 13rem으로 설정 */
	border-radius: 15px;
	margin: 11.5px; 	
}

/* 결제 리스트 카드 */
.card2 {
	border-radius: 15px; 
	margin: 11.5px;
	
}

.card-body {
	border: none !important; 
	padding: 20px; 
	font-size: 16px; 

}

