

.container {
    display: flex;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Dovemayo_gothic';

}

.vCard {
    flex-basis: 50%; /* 각 요소가 50%의 너비를 차지하게 설정 */
    padding: 20px;
    border-right: 1px solid #ddd;
}

.vCard img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
}

.vCard-body {
    margin-top: 10px;
	font-size: 20px; 
}

.otherLayer {
	padding-top: 100px;
	text-align: center;
	font-family: 'Dovemayo_gothic';
	font-size: 25px;
}

.container2 {
	display: flex;
    width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	justify-content: center;
	text-align: center;
	font-family: 'Dovemayo_gothic';
	font-size: 25px;
	border: 2px solid #ddd;
}

.fCard {
    padding-top: 50px;
}

.fCard img {
    max-width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.fCard-body {
	font-size: 20px; 
}

.novel-list {
    flex: 1;
    padding: 20px;
}

.novel-list div {
    margin-bottom: 10px;
}

/* 회차 이전화 / 다음화 디자인 */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 500px; 
}

.backward, .forward {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    display: flex; 

}


